/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  body {
    width: 100%; /* This */
    overflow-x: hidden; /* And This will hide the horizontalscroll bar*/

  }
  /* Text on the header near the logo picture for khmer */
  .RPITSSR {
    margin-right: 1em;
  }
  .University {
    margin: 0 43px;
  }
  /* Text on the header near the logo picture  */

  /* Icon header */
  .bg_succ {
    margin-left: -30px;
  }
  .form_wid {
    margin-left: -10px;
  }
  .icon {
    padding-right: 9px;
  }
  /* Icon header */

  /* In the body */
  .text-block {
    height: 37%;
    bottom: 300px;
  }
  .eye_hart a h2 {
    margin-top: 45px;
  }
  .heart_like {
    margin-top: -40px;
    margin-left: 43px;
  }
  .heart_like_kh {
    margin-top: -40px;
    margin-left: 43px;
  }
  .font-size{
    font-size: 40px;
  }
  .RPITSSR_two{
    margin-right: 35px;
  }
  .University_two{
    margin: 0 50px;
  }
  /* In the body for khmer*/

}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
 
  body,
  html {
    width: 100%; /* This */
    overflow-x: hidden; /* And This will hide the horizontalscroll bar*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /*
  /* Text on the header near the logo picture for khmer */
  .RPITSSR {
    margin-right: 5px;
  }
  .University {
    margin-right: 1em;
  }
  /* Text on the header near the logo picture  */

  /* Icon header */

  .form_wid img{
    width: 35px;
    padding-top: -5px;
  }
  .form_wid{
    padding-top: 10px;
  }
  .form_wid a{
    font-size: 15px;
  }
  
  .icon {
    padding-right: 5px;
  }
  /* Icon header */

  /* In the body */
  .text-block {
    height: 33%;
    bottom: 300px;
  }
  .back_to{
    font-size: 50px;
  }
  .btn_su {
    width: 55%;
  
  }
  .text-block_3{
    width: 80%;
    margin-left: -90px;
  }
  .image_6 img{
    width: 107%;
    height: 100%;
  }
  .badge_dark{
    padding-bottom: 30px;
  }
  .image_7 img{
    width: 480px;
    height: 100%;
  
  }
  
  .heart_like {
    margin-top: -40px;
    margin-left: 2px;
  }
  .learn_h h2{
    font-size: 30px;
  }
  .icon_fa{
    margin-top: 50px;
  }
  .bg_bet{
    width: 200%;
    margin-left: -150px;
  }
  .pt_h {
    padding-top: 0;
    font-size: 60px;
    margin-top: 10px;
    width: 100%;
    margin-left: 5px;
  }
  .image_2 img{
    width: 100%; 
    height: 218px;
  }
  .image_3 img{
    width: 100%; 
    height: 218px;
  }
  .image_4 img{
    width: 100%; 
    height: 195px;
  }
  .form-inline {
    width: 183%;
  }
  .sign_up {
    margin-left: 350px;
    width: 90px;
  }
  .RPITSSR_two{
    margin-right: 5px;
  }
  .University_two{
    margin-right: 19px;
  }
  .font_foo{
    font-size: 15px; 
  }
  .hea_foo_ter{
    margin-left: -10px;
  }
  .hea_foo-e{
    margin-left: 25px;
  }
  .foo_ter-e {
    margin-left: 115px;
    margin-top: -150px;
  }
  .form_wid_kh{
    margin-top: 10px;
    margin-left: 77px;
  }
  .form_wid_kh img{
    width: 25px;
  }
  .nav-item_kh a{
    font-size: 15px;
  }
  .back_to_kh{
    font-size: 40px;
  }
  .khe_font h1{
    font-size: 50px;
  }
  .text-block_2 {
    width: 70%;
    margin-left: -65px;
 
  }
  .img_kh img{
    width: 107%;
    height: 100%;
  }
  .badge_kh{
    padding-bottom: 30px;
  }
  .img_kh_2 img{
    width: 480px;
    height: 100%;
  
  }
  .heart_like_kh {
    margin-top: -60px;
    margin-left: 2px;
  }
  .heart_like_kh i{
    margin-top: 20px;
  }
  .learn_kh h2{
    font-size: 30px;
  }
  .learn_kh span{
    font-size: 30px;
  }
  .pt_p_kh {
    font-size: 23px;

  }
  .image_kh1 img{
    width: 100%; 
    height: 218px;
  }
  .image_kh2 img{
    width: 100%; 
    height: 218px;
  }
  .image_kh3 img{
    width: 100%; 
    height: 195px;
  }
  .RPITSSR_two-1{
    margin-right: 5px;
  }
  .University_two-2{
    margin-right: 19px;
  }
  .foo_ter {
    margin-left: 115px;
    margin-top: -1px;
  }
  .hea_foo_te{
    margin-left: 13px;
  }
  .last_foo{
    margin-left: -3px;
  }
  /* In the body for khmer*/

}

/* Small phones to small tablets: from 481px to 767px
@media only screen and (max-width: 767px) {

}

Small phones: from 0 to 480px
@media only screen and (max-width: 480px) {
  Header

  Hader
} */
