body {
  width: 100%; /* This */
  overflow-x: hidden; /* And This will hide the horizontalscroll bar*/

  font-family: "Hanuman", serif;
}
/* Search style */
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  padding-top: 20px;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #c4c1c100;
  padding-right: 40px;
  color: rgb(0, 0, 0);
}
.input-search::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #00000000;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 290px;
  border-radius: 25px;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0, 0.11, 0.5, 2);
}
.input-search:focus {
  width: 290px;
  border-radius: 25px;
  background-color: transparent;
  transition: all 500ms cubic-bezier(0, 0.11, 0.5, 2);
}
/* Search style */

/* Logo style */
.logo_sty {
  margin-left: 65%;
  border-radius: 50px;
}
.RPITSSR_sity {
  width: 400px;
}
.RPITSSR {
  color: #000;
  float: right;
  margin-right: 50px;
}
.University {
  float: right;
  margin: 0 62px;
  width: 110px;
}
.bg_succ {
  padding-right: 100px;
}
/* Logo style */

/* Language */
.dropdown,
.dropleft,
.dropright,
.dropup {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  margin-left: 30px;
  order: 2;
}

.dropbtn {
  border-radius: 5px;
  background-color: #30302e;
  border-color: #30302e;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
}
.bg-white {
  border-radius: 5px;
  background-color: #30302e;
  border-color: #30302e;
  color: rgb(0, 0, 0);
  padding: 5px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 5px;
}

.dropdown:hover .dropbtn {
  background-color: #9ea39e;
  border-radius: 5px;
}
.bg-white {
  margin-top: 20px;
  width: 150px;
  height: 50px;
}

/* opennav bar end */
/* Language */

/* Log in from */
/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgba(255, 255, 0, 0);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: rgb(132, 193, 250);
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #ffffff;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}



.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.btn-primary_bottn {
  color: white;
  background-color: #3b5998;
}
.btn-primary_bottn a {
  text-decoration: none;
  color: white;
}
.btn-primary_bottn:hover {
  background-color: #3b5998;
}
.btn-primary_other {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-color: rgba(0, 0, 0, 0.342);
  /* background-color: #ffffff; */
}
.btn-primary_other a {
  text-decoration: none;
  color: #000;
}
.btn-primary_other:hover {
  border-color: rgb(0, 0, 0);
  /* border: black; */
}

/* icon near Log in from */
.form_wid_kh{
  margin-left: 100px;
}
.form_wid_kh img{
  width: 35px;
  margin-left: -20px;
  margin-right: 10px;
}


/* Log in */

/* ============================================== */

/* Icon Hover */
.icon {
  padding-right: 7px;
}
.fa-facebook {
  color: black;
}
.fa-twitter {
  color: black;
}
.fa-instagram {
  color: black;
}
.fa-youtube {
  color: black;
}
.fa-facebook:hover {
  color: rgb(0, 89, 255);
}
.fa-twitter:hover {
  color: rgb(0, 89, 255);
}
.fa-instagram:hover {
  color: rgb(255, 0, 0);
}
.fa-youtube:hover {
  color: red;
}

/* Icon Hover */

៊/* Navbar Menu*/
li,a:hover {
  color: rgb(132, 193, 250);
}
.nav-link {
  color: rgba(255, 255, 255, 0.719);
}
.nav-item {
  font-size: 17px;
}
.nav-item_kh a{
  font-size: 17px;
}
៊/* Navbar Menu*/



/* Full Background image */
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  width: 40%;
  height: 60%;
  padding-top: 40px;
  position: absolute;
  bottom: -100px;
  left: 120px;
  text-align: center;
  background-color: rgba(92, 90, 219, 0.575);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block_2 {
  width: 60%;
  height: 60%;
  padding-top: 40px;
  position: absolute;
  bottom: 20px;
  left: 155px;
  margin-bottom: -12%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.text-block_3 {
  width: 60%;
  height: 60%;
  padding-top: 40px;
  position: absolute;
  bottom: 20px;
  left: 155px;
  margin-bottom: -12%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.success_2 {
  background-color: rgb(46, 45, 100);
} /* Green */
.success_2:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(0, 0, 0);
  color: #000;
}
.btn_su_2 {
  width: 50%;
  /* Remove borders */
  color: rgb(255, 255, 255); /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.back_to{
  font-size: 70px;
}
.back_to_kh{
  font-size: 50px;
}
/*========================================================*/

/* Back to school button*/
.success {
  background-color: rgb(46, 45, 100);
} /* Green */
.success:hover {
  background-color: rgba(56, 55, 112, 0.575);
  border: 1px solid rgb(255, 255, 255);
}
.btn_su {
  width: 50%;
  /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
/* Back to school button*/
/*========================================================*/

/* Safety Measures button*/
.btn-primary {
  background-color: rgb(92, 90, 219);
}
.btn-primary a {
  text-decoration: none;
  color: white;
}
.btn-primary:hover {
  background-color: rgb(92, 90, 219);
  color: rgb(255, 255, 255);
}
.btn-white {
  background-color: rgb(255, 255, 255);
} /* Green */
.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.575);
  border: 1px solid rgb(0, 0, 0);
  color: black;
}

.btn {
  width: 100%;
  border-radius: 0;
  color: white; /* Add a text color */
  padding: 10px 10px; /* Add some padding */
  height: 45px;
}
.btn_safty {
  width: 30%;
  border-radius: 0;
  color: white; /* Add a text color */
  /* padding: 15px 28px; */
}
.bg_above {
  margin-top: -70px;
  margin-bottom: 100px;
}
.bg_safty {
  width: 60%;
  margin-left: 20%;
}
.bg_safty_h {
  width: 50%;
  margin-left: 25%;
  margin-top: -100px;
  height: 10%;
}
.bg_safty_b {
  width: 40%;
  margin-left: 20%;
}
.font-size{
  font-size: 50px;
}
.khe_font h1{
  font-size: 55px;
}
/* Safety Measures button*/

/*========================================================*/
/* Full Background image */
.bg {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#navbar {
  margin-top: 0px;
  overflow: hidden;
  background-color: #333;
  z-index: 1; /* This code is to make the navbar stat on top of everything*/
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04aa6d91;
  color: white;
}
/* khmer */
#navbar_kh {
  margin-top: 0px;
  overflow: hidden;
  background-color: #333;
  z-index: 1; /* This code is to make the navbar stat on top of everything*/
}

#navbar_kh a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar_kh a:hover {
  background-color: #ddd;
  color: black;
}

#navbar_kh a.active {
  background-color: #04aa6d91;
  color: white;
}
.content {
  padding: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 0;
}

/*  Picture under safety  */
.text_white {
  color: rgb(202, 199, 199);
}
.text_co {
  color: rgb(92, 90, 219);
}
.success_St_info {
  background-color: rgb(92, 90, 219);
} /* Green */
.success_St_info:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
.btn_st_info {
  width: 40%;
  /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.text_col {
  color: rgb(92, 90, 219);
}
.image_6 img{
  width: 106%;
  height: auto;
}
.image_7 img{
  width: 569px;
  height: auto;

}
.image_kh1 img{
  width: 100%; 
  height: 264px;
}
.image_kh2 img{
  width: 100%; 
  height: 264px;

}
.image_kh3 img{
  width: 100%; 
  height: 234px;

}
.badge_dark{
  padding-top: 40px;
}
.img_kh img{
  width: 106%;
  height: auto;
}
.img_kh_2 img{
  width: 569px;
  height: auto;
}
/*  Picture under safety  */

/* LATEST NEWS */
.p_dd {
  padding-top: 50px;
  padding-bottom: 30px;
}
/* =============================== */

/* =============================== */
/* heart 2 */
.heart_like {
  color: rgba(255, 255, 255, 0.685);
  font-size: 1em;
  height: 16px;
}
.heart_like p {
  width: 10px;
  margin-left: 200px;
  margin-top: -20px;
}
.heart .fa-heart {
  text-decoration: none;
}
.like {
  cursor: pointer;
  margin-left: 220px;
}
.heart {
  color: #f44336;
  animation: heart 0.5s linear;
}
@keyframes heart {
  0% {
    transform: rotate(0deg) scale(1.7);
  }
  40% {
    transform: rotate(0deg) scale(1);
  }
  41% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}
/* heart 2 */
/* ============================= */

/* ============================= */
/* LATEST NEWS */

.bg_bett {
  margin-top: -25%;
  padding: 350px;
  background-color: rgb(92, 90, 219);
  text-align: center;
}
.bg_bet {
  margin-top: -90px;
}
.success_ln {
  background-color: rgb(46, 45, 100);
} /* Green */
.success_ln:hover {
  background-color: rgb(92, 90, 219);
  border: 1px solid rgb(255, 255, 255);
}
.btn_ln {
  width: 40%;
  /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}
.pt_h {
  padding-top: 0;
  color: white;
  font-size: 55px;
  margin-top: 10px;
  width: 40%;
  margin-left: 30%;
}
.pt_p {
  font-size: 25px;
  color: white;
  width: 50%;
  margin-left: 25%;
}
.pt_p_kh {
  font-size: 25px;
  color: white;
  width: 50%;
  margin-left: 25%;
}
.pt_s {
  color: rgb(36, 35, 46);
}
.go-up {
  margin-top: -400px;
}
.img_three {
  margin-top: -300px;
}
.eye_hart {
  margin-top: -295px;
  height: 295px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.329);
  position: relative;
}
.learn_h {
  color: rgb(255, 255, 255);
}
.learn_h:hover {
  color: rgb(92, 90, 219);
}

.icon_fa {
  position: relative; /* This code to make the icon fa on the picture */
  /* background-color: black; */
}
.learn_kh {
  color: rgb(255, 255, 255);
}
.learn_kh:hover {
  color: rgb(92, 90, 219);
}
.heart_like_kh {
  color: rgba(255, 255, 255, 0.685);
  font-size: 1em;
  height: 16px;
  margin-left: -25px;
}
.heart_like_kh p {
  width: 10px;
  margin-left: 200px;
  margin-top: -20px;
}
.sml_1{
  margin-left: 20px;
}
.sml_2 p{
  float: left; 
  color: rgb(255, 255, 255); 
  margin-top: 5px;

}
/* Sign Up */
.sign_dow {
  width: 100%;
  padding-bottom: 100px;
}
.input_col {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 90, 219);
  border-radius: 2px;
}
.input_col:hover {
  background-color: rgba(92, 90, 219, 0.74);
  border: 1 solid;
}
.form-inline {
  width: 1000px;
}
.sign_up {
  color: white;
  margin: 32px 0 0 464px;
  padding: 13px;
  width: 90px;
  background-color: rgb(46, 45, 100);
  height: 50px;
}
.sign_up:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 90, 219);
}

/* Frist Footer */
.first_footer {
  padding-top: 90px;
}
.RPITSSR_two {
  color: rgb(230, 230, 230);
  float: right;
  margin-right: 50px;
}
.University_two {
  float: right;
  margin: 0 62px;
  color: rgb(141, 141, 141);
  width: 110px;
}
.RPITSSR_two-1 {
  color: rgb(230, 230, 230);
  float: right;
  margin-right: 50px;
}
.University_two-2 {
  float: right;
  margin: 0 62px;
  color: rgb(141, 141, 141);
  width: 110px;
}
.font_foo{
  font-size: 17px; 
}
/* QUICK NAVIGATION  khmer*/
.hea_foo {
  margin-left: 5px;
}
.hea_foo-e {
  margin-left: 55px;
}
.hea_foo-e a {
  text-decoration: none;
  color: rgb(141, 141, 141);
}
.hea_foo-e a:hover {
  text-decoration: none;
  color: rgb(212, 212, 212);
}
.hea_foo a {
  text-decoration: none;
  color: rgb(141, 141, 141);
}
.hea_foo p {
  width: 100px;
  float: left;
}
.hea_foo a:hover {
  text-decoration: none;
  color: rgb(212, 212, 212);
}
.foo_ter {
  margin-left: 150px;
}
.foo_ter-e {
  margin-left: 150px;
  margin-top: -159px;
}
.foo_ter-e a {
  text-decoration: none;
  color: rgb(141, 141, 141);
}
.foo_ter-e a:hover {
  text-decoration: none;
  color: rgb(212, 212, 212);
}

.foo_ter a {
  text-decoration: none;
  color: rgb(141, 141, 141);
}
.foo_ter p {
  width: 150px;
}
.foo_ter a:hover {
  text-decoration: none;
  color: rgb(212, 212, 212);
}
/* QUICK NAVIGATION */

/* ===================================== */
/* Image under read all button */
.image_2 img{
  width: 100%; 
  height: 264px;
}
.image_3 img{
  width: 100%; 
  height: 264px;
}
.image_4 img{
  width: 100%; 
  height: 234px;
}
/* Image under read all button */

/* ==================================== */

/* STAY CONNECTED */
.hea_foo_ter {
  margin-left: 17px;
}
.hea_foo_ter a {
  text-decoration: none;
  color: rgb(141, 141, 141);
}
.hea_foo_ter a:hover {
  text-decoration: none;
  color: rgb(212, 212, 212);
}
.hea_foo_te {
  margin-left: 17px;
}
.hea_foo_te a {
  text-decoration: none;
  color: rgb(141, 141, 141);
}
.hea_foo_te a:hover {
  text-decoration: none;
  color: rgb(212, 212, 212);
}
/* ====================================== */

/* GET IN TOUCH */
.last_foo {
  margin-left: 50px;
}
.local_of {
  float: left;
  color: rgb(141, 141, 141);
}
